<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="text-center mb-4"> 
        <h2>Edit News Item</h2>
      </div>
      
      <div class="row">
        <div class="col">
          <h4 class="heading">Representative: 
            <a href="<%= representative_path(@representative.id) %>"> <%= @representative.name %> 
            </a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="heading">Issue: <%= @issue %></h4>
        </div>
      </div>

    <%= form_with(url: representative_save_my_news_item_path(@representative), method: :post) do |f| %>
      <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>

      <% @articles.each_with_index do |article, index| %>
        <div class="row">
          <div class="col">
            <label>
              <%= f.radio_button :article_id, index %>
              <br>
              Title: <%= article['title'] %><br>
              Link: <%= link_to article['link'], article['link'], target: '_blank' %><br>
              Description: <%= article['text'] %>
              <%= f.hidden_field "articles[#{index}][title]", value: article['title'] %>
              <%= f.hidden_field "articles[#{index}][link]", value: article['link'] %>
              <%= f.hidden_field "articles[#{index}][description]", value: article['text'] %>
            </label>
          </div>
        </div>
        <hr>
      <% end %>

      <div class="row">
        <div class="col">
          <h4 class="heading">Rating:
          <%= f.select :rating, (1..10) %>
          </h4>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-auto">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>

      <div class="row justify-content-end fixed-bottom mb-3 mr-3">
        <div class="col-auto">
          <%= link_to "View News Articles", representative_news_items_path(@representative), class: "btn btn-secondary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
