<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="text-center mb-4"> 
        <h2>Edit News Item</h2>
      </div>
      
      <div class="row">
        <div class="col">
          <h4 class="heading">Representative: 
            <a href="<%= representative_path(@representative.id) %>"> <%= @representative.name %> 
            </a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="heading">Issue: <%= @issue %></h4>
        </div>
      </div>

      <form action="<%= representative_save_my_news_item_path(@representative) %>" method="post">
        <% @articles.each do |article| %>
          <div class="row">
            <div class="col">
              <label>
                <input type="radio" name="selected_article">
                <br>
                Title: <%= article['title'] %><br>
                Link: <%= article['link'] %><br>
                Description: <%= article['text'] %>
              </label>
            </div>
          </div>
          <hr>
        <% end %>

        <div class="row">
          <div class="col">
            <h4 class="heading">Rating:
            <select name="rating" class="form-control">
              <% (1..10).each do |value| %>
                <option value="<%= value %>"><%= value %></option>
              <% end %>
            </h4>
            </select>
          </div>
        </div>


        <div class="row justify-content-center">
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
  </div>
</div>
